exercises/DTD-EXTRA/DTD-EXERCISE/data1.dtd

<!ELEMENT shoppingCart (item*)>

<!ELEMENT item (title,description?,producer,price,type)>
<!ATTLIST item id ID #REQUIRED>

<!ELEMENT title (#PCDATA)>
<!ELEMENT producer (#PCDATA)>

<!ELEMENT price (#PCDATA)>
<!ATTLIST price currency CDATA #REQUIRED>

<!ELEMENT type EMPTY>
<!ATTLIST type category CDATA #REQUIRED>

<!ELEMENT description (#PCDATA)>
